:host {
    --rating-size: 16px;
    --layer-local-tier-1: 1;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: var(--rating-size);
    pointer-events: none;
}

:host(.is-edit) .rating-item {
    cursor: pointer;
    pointer-events: auto;
}

:host fieldset {
    border: none;
    display: contents;
    margin: 0;
    padding: 0;
}

:host .rating-item {
    display: inline-block;
    height: var(--rating-size);
    padding-right: calc(var(--rating-size) + var(--space-s));
    position: relative;
    width: var(--rating-size);
}

.rating-item-filled,
.rating-item-empty {
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
    transition: opacity linear 150ms;
}

.rating-item-filled {
    opacity: 1;
    z-index: var(--layer-local-tier-1);
}

.rating-item-empty {
    opacity: 0;
    z-index: var(--layer-global-screen);
}

:host .rating-item[class*=rating-]:last-of-type {
    padding-right: 0;
}

:host input:checked+label .rating-item-empty,
:host input:checked~label .rating-item-filled {
    opacity: 0;
}


:host(:hover) input+label .rating-item-filled {
    opacity: 1;
}

:host input:focus+label .rating-item-empty,
:host input:hover~label .rating-item-filled {
    opacity: 0;
}

:host input:checked~label .rating-item-empty,
:host input:checked+label .rating-item-filled,
:host input:hover~label .rating-item-empty,
:host input:focus~label .rating-item-empty,
:host input:focus+label .rating-item-filled {
    opacity: 1;
}

:host input:hover~label .rating-item-filled {
    opacity: 0;
}

:host input:hover+label .rating-item-filled {
    opacity: 1;
}

.rating-item.wcag-hide-text {
    display: contents
}

.wcag-hide-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}